include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/ddfxls *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/ddfxls/migration *.ini *.py *.mako
recursive-include ckanext/ddfxls/public *.*
